<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
  </head>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
  <body>
    <header>
		<h1>Dashboard</h1>
	</header>
	<% if (flashMess && flashMess.length > 0) { %>
		<p><%= flashMess[0] %></p>
	<% } %>
      <div class="div-register">
        <% if (userTable && userTable.length > 0) { %>
          <ul class="posts">
            <% userTable.forEach(user => { %>
              <li>
                <p>Welcome <%= user.username %></p>
              </li>
            <% }) %>
          </ul>
        <% } %>
      </div>
  </body>
</html>