<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
  </head>
  <body>
	<h1>Users:</h1>
	<% if (userTable && userTable.length > 0) 
	{ %>
		<ul class="posts">
			<% userTable.forEach(user => { %>
			<li>
			<p>ID: <%= user.id %></p>
			<p>Username: <%= user.username %></p>
			</li>
			<% }) %>
		</ul>
	<% } else { %>
	<p>There are no userTable yet. </p>
	<% } %>
  </body>
</html>