<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/public/styles.css" />
  </head>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
  <body>
    <header>
		<div class="div-register">
			<h2>Login</h2>
			<form action="/dashboard" method="post">
			<label for="username">Username:</label>
			<input type="input" id="username" name="username" required />
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required />
			<input type="submit" value="Login">
			</form>
			</div>
    </header>
  </body>
</html>
