<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
  </head>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
  <body>
    <header>
		  <div class="div-register">
			  <h2>Register</h2>
			  <form action="/register" method="POST">
				  <label for="name">Name:</label>
				  <input type="input" id="name" name="name" required />
				  <label for="email">Email:</label>
				  <input type="input" id="email" name="email" required />
				  <br>
				  <label for="username">Username:</label>
				  <input type="input" id="username" name="username" required />
				  <label for="password">Password:</label>
				  <input type="password" id="password" name="password" required />
				  <br><br>
				  <input type="submit" value="Register">
			  </form>
		  </div>
    </header>

  </body>
</html>
