<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/public/styles.css" />
  </head>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
  <body>
    <header>
		<h2>Delete User</h2>
    </header>
	<div class="div-register">
		<form action="/delete" method="POST">
		<label for="username">Username:</label>
		<input type="input" id="username" name="username" required />
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required />
		<br><br>
		<input type="submit" value="Delete">
		</form>
		</div>
  </body>
</html>
